header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

#top-tile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: darkgreen;
  height: 80px;

}

h1 {
  font-size: 50px;
  color: wheat;
}

#add-btn {
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
}

body {
  margin-top: 100px;
  background-color: rgb(71, 119, 71);
}

body p {
  margin-top: 6.5em;
  text-align: center;
  color: greenyellow;
  font-size: 80px;
}

body p b {
  color: rgb(7, 82, 7);
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  background-color: rgb(7, 82, 7);
  list-style: none;
}

footer ul{
  padding: 0;
  list-style: none;
}

footer li{
  display: inline;
  list-style: none;
}

footer a{
  margin-left: 5px;
  color: white;
  text-decoration: none;
  transition: .2s;
}
footer a:hover{
  color: wheat;
}